In [9]:
#Librerias necesarias, en esta version, 1.6, no existe el SparkSession
from pyspark import SparkContext, SparkConf
from pyspark.sql import HiveContext

In [10]:
#Instalamos pandas para poder escribir spark dfs a .csv
!sudo pip install pandas==0.24

Requirement already satisfied: pandas==0.24 in /usr/local/lib/python2.7/site-packages
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python2.7/site-packages (from pandas==0.24)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python2.7/site-packages (from pandas==0.24)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python2.7/site-packages (from pandas==0.24)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python2.7/site-packages (from python-dateutil>=2.5.0->pandas==0.24)
You are using pip version 9.0.1, however version 21.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [11]:
import pandas as pd

In [12]:
#Inicializar el SparkContext
sc = SparkContext.getOrCreate()

In [13]:
#Inicializar el Hive Context
sqlContext = HiveContext(sc)

<span style='color:Blue'>Creacion de DF por cada tabla en Hive</span>

In [14]:
vuelos = sqlContext.sql("SELECT * FROM ejercicio1.vuelos")

In [15]:
retrasos = sqlContext.sql("SELECT * FROM ejercicio1.retrasos")

In [16]:
fecha = sqlContext.sql("SELECT * FROM ejercicio1.fecha")

In [17]:
paises = sqlContext.sql("SELECT * FROM ejercicio1.paises")

<span style='color:Blue'>3.Crear una nueva tabla en Hive, que contenga la siguiente información: Vuelo, Origen, Destino, Retraso.</span>

In [18]:
#Inner join de tablas Vuelos y Retrasos
HD_ResumenVuelos = sqlContext.sql("SELECT v.Vuelo, v.Origen, v.Destino, r.Retraso FROM ejercicio1.vuelos v INNER JOIN ejercicio1.retrasos r ON (v.vuelo=r.vuelo)")
HD_ResumenVuelos.show(5)

+-----+------+-------+-------+
|Vuelo|Origen|Destino|Retraso|
+-----+------+-------+-------+
| 6005|   MEX|    ESP|     52|
| 2021|   COL|    MEX|     27|
| 5528|   ARG|    COL|     36|
| 7965|   BRA|    ARG|     82|
| 8717|   USA|    BRA|     29|
+-----+------+-------+-------+
only showing top 5 rows

In [20]:
#Crear tabla HD_ResumenVuelos en la ruta hdfs del ejercicio
HD_ResumenVuelos.write.option("path", "hdfs:/home/training/Desktop/Fuentes/HD_ResumenVuelos").saveAsTable("ejercicio1.HD_ResumenVuelos")

<span style='color:Blue'>(A) ¿De qué país salieron más aviones?</span>

<span style='color: Green'>(A) SQL</span>

In [21]:
#Left join de Vuelos con Paises, con key orign y cod_pais, agrupado por pais y ordenado desc.
HD_ResumenVuelosSalidasSQL = sqlContext.sql("SELECT p.Pais, COUNT(v.vuelo) As Salidas FROM ejercicio1.vuelos v LEFT JOIN ejercicio1.paises p ON (v.origen=p.cod_pais) GROUP BY p.Pais ORDER BY Salidas DESC")
HD_ResumenVuelosSalidasSQL.show(3)
#De España(8) salieron mas vuelos

+--------------+-------+
|          Pais|Salidas|
+--------------+-------+
|        España|      8|
|       Francia|      7|
|Estados Unidos|      6|
+--------------+-------+
only showing top 3 rows

<span style='color: Green'>(A) PySpark</span>

In [22]:
#Crear DF HD_ResumenVuelosSalidas
HD_ResumenVuelosSalidas = vuelos.alias("v").join(paises.alias("p"), vuelos.origen == paises.cod_pais)
HD_ResumenVuelosSalidas = HD_ResumenVuelosSalidas.select("p.Pais", "v.Vuelo")
HD_ResumenVuelosSalidas.show(5)

+--------------+-----+
|          Pais|Vuelo|
+--------------+-----+
|        Mexico| 6005|
|      Colombia| 2021|
|     Argentina| 5528|
|        Brasil| 7965|
|Estados Unidos| 8717|
+--------------+-----+
only showing top 5 rows

In [23]:
#Left join de Vuelos con Paises, con key orign y cod_pais, agrupado por pais y ordenado desc.
groupVuelos = HD_ResumenVuelosSalidas.groupBy("Pais")
groupVuelos = groupVuelos.agg({'Vuelo':'count'})
groupVuelos = groupVuelos.withColumnRenamed("count(Vuelo)", "Salidas")
groupVuelos = groupVuelos.orderBy("Salidas", ascending=False)
groupVuelos.show(3)
#De España(8) salieron mas vuelos

+--------------+-------+
|          Pais|Salidas|
+--------------+-------+
|        España|      8|
|       Francia|      7|
|Estados Unidos|      6|
+--------------+-------+
only showing top 3 rows

In [186]:
#Crear tabla HM_ResumenDias en la ruta hdfs del ejercicio
groupVuelos.write.option("path", "hdfs:/home/training/Desktop/Fuentes/HD_ResumenVuelosSalidas").saveAsTable("ejercicio1.HD_ResumenVuelosSalidas")

<span style='color:Blue'>(B)¿A qué país llegaron más aviones?</span>

<span style='color: Green'>(B) SQL</span>

In [24]:
#Left join de Vuelos con Paises, con key destino y cod_pais, agrupado por pais y ordenado desc.
HD_ResumenVuelosLlegadasSQL = sqlContext.sql("SELECT p.Pais, COUNT(v.vuelo) As Llegadas FROM ejercicio1.vuelos v LEFT JOIN ejercicio1.paises p ON (v.destino=p.cod_pais) GROUP BY p.Pais ORDER BY Llegadas DESC")
HD_ResumenVuelosLlegadasSQL.show(3)
#A Mexico(7) llegaron mas vuelos

+------+--------+
|  Pais|Llegadas|
+------+--------+
|Mexico|       7|
| Rusia|       6|
|  Peru|       6|
+------+--------+
only showing top 3 rows

<span style='color: Green'>(B) PySpark</span>

In [25]:
#Crear DF HD_ResumenVuelosLlegadas
HD_ResumenVuelosLlegadas = vuelos.alias("v").join(paises.alias("p"), vuelos.destino == paises.cod_pais)
HD_ResumenVuelosLlegadas = HD_ResumenVuelosLlegadas.select("p.Pais", "v.Vuelo")
HD_ResumenVuelosLlegadas.show(5)

+---------+-----+
|     Pais|Vuelo|
+---------+-----+
|   España| 6005|
|   Mexico| 2021|
| Colombia| 5528|
|Argentina| 7965|
|   Brasil| 8717|
+---------+-----+
only showing top 5 rows

In [26]:
#Join de tablas Vuelos con Retrasos, grop by Destino, con key vuelo y ordenado ascendentemente
groupVuelos = HD_ResumenVuelosLlegadas.groupBy("Pais")
groupVuelos = groupVuelos.agg({'Vuelo':'count'})
groupVuelos = groupVuelos.withColumnRenamed("count(Vuelo)", "Llegadas")
groupVuelos = groupVuelos.orderBy("Llegadas", ascending=False)
groupVuelos.show(3)
#A Mexico(7) llegaron mas vuelos

+------+--------+
|  Pais|Llegadas|
+------+--------+
|Mexico|       7|
| Rusia|       6|
|  Peru|       6|
+------+--------+
only showing top 3 rows

In [191]:
#Crear tabla HD_ResumenVuelosLlegadas en la ruta hdfs del ejercicio
groupVuelos.write.option("path", "hdfs:/home/training/Desktop/Fuentes/HD_ResumenVuelosLlegadas").saveAsTable("ejercicio1.HD_ResumenVuelosLlegadas")

<span style='color:Blue'>(C)¿Qué día hubo más vuelos? ¿Y menos?</span>

<span style='color: Green'>(C) SQL</span>

In [27]:
#Select de tabla Fecha, agroupado por dia, contando los vuelos 
HD_ResumenDiasSQL = sqlContext.sql("SELECT Dia, Count(Vuelo) as Vuelos FROM ejercicio1.fecha GROUP BY Dia ORDER BY Vuelos DESC")
HD_ResumenDiasSQL.show(5)
#Dias 1, 9 y 20 tuvieron mas vuelos (7)

HD_ResumenDiasSQLMenor = sqlContext.sql("SELECT Dia, Count(Vuelo) as Vuelos FROM ejercicio1.fecha GROUP BY Dia ORDER BY Vuelos ASC")
#HD_ResumenDiasSQLMenor.show(5)
#Dias 23, 11, 17, 21 y 8 tuvieron menos vuelos (1)

+---+------+
|Dia|Vuelos|
+---+------+
|  1|     7|
|  9|     7|
| 20|     7|
|  5|     6|
| 18|     6|
+---+------+
only showing top 5 rows

<span style='color: Green'>(C) PySpark</span>

In [102]:
#Select de tabla Fecha, agroupado por dia, contando los vuelos 
HD_ResumenDias = fecha.groupBy("Dia")
HD_ResumenDias = HD_ResumenDias.agg({'Vuelo':'count'})
HD_ResumenDias = HD_ResumenDias.withColumnRenamed("count(Vuelo)", "Vuelos")
HD_ResumenDias = HD_ResumenDias.orderBy("Vuelos", ascending=False)
HD_ResumenDias.show(5)
#Dias 1, 9 y 20 tuvieron mas vuelos (7)

HD_ResumenDiasMenor = HD_ResumenDias.orderBy("Vuelos", ascending=True)
#HD_ResumenDiasMenor.show(5)
#Dias 23, 11, 17, 21 y 8 tuvieron menos vuelos (1)

+---+------+
|Dia|Vuelos|
+---+------+
|  1|     7|
|  9|     7|
| 20|     7|
|  5|     6|
| 18|     6|
+---+------+
only showing top 5 rows

In [194]:
#Crear tabla HD_ResumenDias en la ruta hdfs del ejercicio
HD_ResumenDias.write.option("path", "hdfs:/home/training/Desktop/Fuentes/HD_ResumenDias").saveAsTable("ejercicio1.HD_ResumenDias")

<span style='color:Blue'>(D)¿Qué día hubo más retrasos? ¿Y menos?</span>

<span style='color: Green'>(D) SQL</span>

In [29]:
#Join de tabla Fecha on Retrasos con key vuelo, agrupar por dia y ordenar de forma asc/desc
HD_ResumenRetrasosSQL = sqlContext.sql("SELECT f.Dia, Count(r.retraso) As Retrasos FROM ejercicio1.fecha f INNER JOIN ejercicio1.retrasos r ON (f.vuelo=r.vuelo) GROUP BY f.dia ORDER BY Retrasos DESC")
#El dia 20 de Febrero tuvo mas retrasos

HD_ResumenRetrasosMenorSQL = sqlContext.sql("SELECT f.Dia, Count(r.retraso) As Retrasos FROM ejercicio1.fecha f INNER JOIN ejercicio1.retrasos r ON (f.vuelo=r.vuelo) GROUP BY f.dia ORDER BY Retrasos ASC")
#Los dias 23, 21, 17 y 11 de Febrero tuvo menos retrasos

In [30]:
HD_ResumenRetrasosSQL.show(5)

+---+--------+
|Dia|Retrasos|
+---+--------+
| 20|       8|
|  1|       7|
|  9|       7|
|  5|       6|
| 18|       6|
+---+--------+
only showing top 5 rows

<span style='color: Green'>(D) PySpark</span>

In [31]:
#Crear tabla HD_ResumenRetrasos que contenga los min de retraso por dia 
HD_ResumenRetrasos = fecha.alias("f").join(retrasos.alias("r"), fecha.vuelo == retrasos.vuelo)
HD_ResumenRetrasos = HD_ResumenRetrasos.select("f.Dia","r.Retraso")
HD_ResumenRetrasos.show(3)

+---+-------+
|Dia|Retraso|
+---+-------+
|  2|     52|
| 25|     27|
| 18|     36|
+---+-------+
only showing top 3 rows

In [32]:
#Join de tablas Fecha con Retrasos, group by Dia, con key vuelo y ordenado ascendentemente
groupRetrasos = HD_ResumenRetrasos.groupBy("Dia")
groupRetrasos = groupRetrasos.agg({'Retraso':'count'})
groupRetrasos = groupRetrasos.withColumnRenamed("count(Retraso)", "Retrasos")
groupRetrasos = groupRetrasos.orderBy("Retrasos", ascending=False)
groupRetrasos.show(5)
#El dia 20 de Febrero tuvo mas retrasos 

HD_ResumenRetrasosMenor = groupRetrasos.orderBy("Retrasos", ascending=True)
#HD_ResumenRetrasosMenor.show(5)
#Los dias 23, 21, 17 y 11 de Febrero tuvieron menos retrasos

+---+--------+
|Dia|Retrasos|
+---+--------+
| 20|       8|
|  1|       7|
|  9|       7|
|  5|       6|
| 18|       6|
+---+--------+
only showing top 5 rows

In [172]:
#Crear tabla HD_ResumenRetrasos en la ruta hdfs del ejercicio
groupRetrasos.write.option("path", "hdfs:/home/training/Desktop/Fuentes/HD_ResumenRetrasos").saveAsTable("ejercicio1.HD_ResumenRetrasos")

In [57]:
#Guardar tablas generadas en .csv 
HD_ResumenVuelosSalidasSQL.toPandas().to_csv("/home/training/Desktop/EJERCICIO VIAJES/Fuentes Finales/HD_ResumenVuelosSalidas.csv", encoding='utf-8')
HD_ResumenVuelosLlegadasSQL.toPandas().to_csv("/home/training/Desktop/EJERCICIO VIAJES/Fuentes Finales/HD_ResumenVuelosLlegadas.csv", encoding='utf-8')
HD_ResumenDiasSQL.toPandas().to_csv("/home/training/Desktop/EJERCICIO VIAJES/Fuentes Finales/HD_ResumenDias.csv", encoding='utf-8')
HD_ResumenRetrasosSQL.toPandas().to_csv("/home/training/Desktop/EJERCICIO VIAJES/Fuentes Finales/HD_ResumenRetrasos.csv", encoding='utf-8')

<span style='color:Blue'>7.Convertir las operaciones realizadas para resolver el ejercicio 7 en un método definido por el alumno, que devuelva dicho resultado.</span>

In [106]:
class OperacionSQL:
    def __init__ (self, *args):
        self.dfs = list(args)
        
    def joinSQL(self, struc):
        return self.dfs[0].alias("a") \
               .join(self.dfs[1].alias("b") \
               ,struc.id1==struc.id2,how=struc.tipo)
        
    def groupBySQL(self, struc, colAlias):
        return self.dfs[0].groupBy(struc.col).agg({struc.aggCol:struc.aggOpe}) \
               .withColumnRenamed("{}({})" \
               .format(struc.aggOpe, struc.aggCol), colAlias)
        
    def orderBySQL(self, col, sort):
        order = sort
        sort = False if order == "desc" else True
        return self.dfs[0].orderBy(col, ascending=sort)

In [72]:
class GroupByStructure:
    def __init__ (self, col, aggCol, aggOpe):
        self.col = col
        self.aggCol = aggCol
        self.aggOpe = aggOpe

In [104]:
class JoinStructure:
    def __init__ (self, tipo, id1, id2):
        self.tipo = tipo.lower()
        self.id1 = id1
        self.id2 = id2

<span style='color: Green'>(7.A) PySpark</span>

In [108]:
ope1 = OperacionSQL(vuelos, paises)
struc1 = JoinStructure("left", vuelos.origen, paises.cod_pais)

vuelosJoin = ope1.joinSQL(struc1) \
             .select("b.Pais", "a.Vuelo")

ope2 = OperacionSQL(vuelosJoin)
struct2 = GroupByStructure("Pais", "Vuelo", "count")

vuelosGroup = ope2.groupBySQL(struct2, "Salidas")

ope3 = OperacionSQL(vuelosGroup)
vuelosOrder = ope3.orderBySQL("Salidas", "desc")
vuelosOrder.show(3)

+--------------+-------+
|          Pais|Salidas|
+--------------+-------+
|        España|      8|
|       Francia|      7|
|Estados Unidos|      6|
+--------------+-------+
only showing top 3 rows

<span style='color: Green'>(7.B) PySpark</span>

In [79]:
ope1 = OperacionSQL(vuelos, paises)
vuelosJoin = ope1.joinSQL("left", vuelos.destino, paises.cod_pais) \
             .select("b.Pais", "a.Vuelo")

ope2 = OperacionSQL(vuelosJoin)
struct1 = GroupByStructure("Pais", "Vuelo", "count")

vuelosGroup = ope2.groupBySQL(struct1, "Llegadas")

ope3 = OperacionSQL(vuelosGroup)
vuelosOrder = ope3.orderBySQL("Llegadas", "desc")
vuelosOrder.show(3)

+------+--------+
|  Pais|Llegadas|
+------+--------+
|Mexico|       7|
| Rusia|       6|
|  Peru|       6|
+------+--------+
only showing top 3 rows

<span style='color: Green'>(7.C) PySpark</span>

In [99]:
struct1 = GroupByStructure("Dia", "Vuelo", "count")
ope1 = OperacionSQL(fecha)
vuelosGroup = ope1.groupBySQL(struct1, "Vuelos")

ope2 = OperacionSQL(vuelosGroup)
#vuelosSorted = ope2.orderBySQL("Vuelos", "desc")
#vuelosSorted.show(3)

vuelosSorted = ope2.orderBySQL("Vuelos", "asc")
vuelosSorted.show(3)

+---+------+
|Dia|Vuelos|
+---+------+
| 23|     1|
| 11|     1|
| 17|     1|
+---+------+
only showing top 3 rows

<span style='color: Green'>(7.D) PySpark</span>

In [103]:
ope1 = OperacionSQL(fecha, retrasos)
retrasosJoin = ope1.joinSQL("left", fecha.vuelo, retrasos.vuelo) \
             .select("a.Dia", "b.Retraso")

ope2 = OperacionSQL(retrasosJoin)
struct1 = GroupByStructure("Dia", "Retraso", "count")

retrasosGroup = ope2.groupBySQL(struct1, "Retrasos")

ope3 = OperacionSQL(retrasosGroup)
vuelosSorted = ope3.orderBySQL("Retrasos", "desc")
vuelosSorted.show(5)

#vuelosSorted = ope3.orderBySQL("Retrasos", "asc")
#vuelosSorted.show(5)

+---+--------+
|Dia|Retrasos|
+---+--------+
| 20|       8|
|  9|       7|
|  1|       7|
|  5|       6|
| 18|       6|
+---+--------+
only showing top 5 rows